/* Despre_mine_stilizare.css */

body {
    background-color: white;
    color: black;
    margin: 0;
}

h1 {
    border: 2px solid DodgerBlue;
    color: Azure;
    /* background-image: url('Background\ despre\ mine.jpeg'); */
    background-color: black;
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    margin-bottom: 20px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    text-decoration: underline #751c1c;
}

h3 {
    margin-left: 10px;
}

/* Adăugarea stilizării pentru buton */
.wrapper {
  position: fixed;
  bottom: 20px;
  left: 45%;
  transform: translateX(-50%);
}

.back-to-home {
  display: block;
  position: relative;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  cursor: pointer;
  background: #016cb8;
  border: none;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  mix-blend-mode: color-dodge;
  perspective: 500px;
  transform-style: preserve-3d;
}

.back-to-home:before,
.back-to-home:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  mix-blend-mode: inherit;
  border-radius: inherit;
  transform-style: preserve-3d;
  transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
}

.back-to-home span {
  mix-blend-mode: normal;
  display: block;
}

.back-to-home:after {
  background-color: #5D00FF;
}

.back-to-home:before {
  background-color: #FF1731;
}

.back-to-home:hover {
  background-color: #FFF65B;
  transition: background 0.3s 0.1s;
}

.back-to-home:hover:before {
  --z: 0.04;
  animation: translateWobble 2.2s ease forwards;
}

.back-to-home:hover:after {
  --z: -0.06;
  animation: translateWobble 2.2s ease forwards;
}

@keyframes rotateAngle {
  0% {
      transform: rotateY(0deg) rotateX(10deg);
      -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
      animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  25% {
      transform: rotateY(20deg) rotateX(10deg);
  }
  50% {
      transform: rotateY(0deg) rotateX(10deg);
      -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
      animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }
  75% {
      transform: rotateY(-20deg) rotateX(10deg);
  }
  100% {
      transform: rotateY(0deg) rotateX(10deg);
  }
}

@keyframes translateWobble {
  0% {
      opacity: 0;
      transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
  }
  16% {
      transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
  }
  28% {
      opacity: 1;
      transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
  }
  44% {
      transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
  }
  59% {
      transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
  }
  73% {
      transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
  }
   88% {
      opacity: 1;
      transform: translate3d(calc(var(--z) * 95px), calc(var(--z) * 95px), calc(var(--z) * 95px));
  }
}


body.dark-mode {
    background-color: #222;
    color: #ffffff;
  }

/* The switch - the box around the slider */
#theme-toggle-button {
  font-size: 17px;
  position: fixed;
  display: inline-block;
  width: 7em;
  cursor: pointer;
  bottom: 20px; /* Mutăm butonul în colțul din stânga jos */
  left: 20px; /* Mutăm butonul în colțul din stânga jos */
}

/* Hide default HTML checkbox */
#toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked + svg #container {
  fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked + svg #button {
  transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
  opacity: 1;
}

#toggle:checked + svg #sun {
  opacity: 0;
}

#moon {
  opacity: 0;
}

#toggle:checked + svg #moon {
  opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
  opacity: 1;
}

#toggle:checked + svg #cloud {
  opacity: 0;
}

#stars {
  opacity: 0;
}

#toggle:checked + svg #stars {
  opacity: 1;
}
